@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
  background-image: linear-gradient(to bottom, #94d6cb, #7ccbc9, #64bfc8, #4cb3c7, #36a6c6);
}

.special-button {
  background-image: linear-gradient(to right, #94d6cb, #8fd4d1, #8cd2d6, #8ccfda, #8dccde);
}

.dark-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.header-transition-nav-bar {
  transition: opacity 0.2s ease-in-out;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}